@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap);@font-face {
    font-family: "Formula Condensed";
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/FormulaCondensed-Bold.woff2) format("woff2"),url(/fonts/FormulaCondensed-Bold.woff) format("woff")
}

:root {
    --ease-linear: cubic-bezier(0.25,0.25,0.75,0.75);
    --ease-in-sine: cubic-bezier(0.47,0,0.745,0.715);
    --ease-out-sine: cubic-bezier(0.39,0.575,0.565,1);
    --ease-in-out-sine: cubic-bezier(0.445,0.05,0.55,0.95);
    --ease-in-quad: cubic-bezier(0.55,0.085,0.68,0.53);
    --ease-out-quad: cubic-bezier(0.25,0.46,0.45,0.94);
    --ease-in-out-quad: cubic-bezier(0.455,0.03,0.515,0.955);
    --ease-in-cubic: cubic-bezier(0.55,0.055,0.675,0.19);
    --ease-out-cubic: cubic-bezier(0.215,0.61,0.355,1);
    --ease-in-out-cubic: cubic-bezier(0.645,0.045,0.355,1);
    --ease-in-quart: cubic-bezier(0.895,0.03,0.685,0.22);
    --ease-out-quart: cubic-bezier(0.165,0.84,0.44,1);
    --ease-in-out-quart: cubic-bezier(0.77,0,0.175,1);
    --ease-in-quint: cubic-bezier(0.755,0.05,0.855,0.06);
    --ease-out-quint: cubic-bezier(0.23,1,0.32,1);
    --ease-in-out-quint: cubic-bezier(0.86,0,0.07,1);
    --ease-in-expo: cubic-bezier(0.95,0.05,0.795,0.035);
    --ease-out-expo: cubic-bezier(0.19,1,0.22,1);
    --ease-in-out-expo: cubic-bezier(1,0,0,1);
    --ease-in-circ: cubic-bezier(0.6,0.04,0.98,0.335);
    --ease-out-circ: cubic-bezier(0.075,0.82,0.165,1);
    --ease-in-out-circ: cubic-bezier(0.785,0.135,0.15,0.86);
    --ease-in-back: cubic-bezier(0.6,-0.28,0.735,0.045);
    --ease-out-back: cubic-bezier(0.25,2,0.5,0.9);
    --ease-in-out-back: cubic-bezier(0.68,-0.55,0.265,1.55);
    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-right: env(safe-area-inset-right);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    --safe-area-inset-left: env(safe-area-inset-left);
    --padding: 2rem;
    --min-padding: -2rem;
    --color-white: #fff;
    --color-grey: #727272;
    --color-black: #222;
    --color-primary: #222;
    --color-secondary: #eee;
    --color-blue: #19a0fc;
    --color-text: #b8b8b8;
    --radius: 1rem;
    --outline-radius: 1.7rem;
    --gap: 1rem;
    --row-gap: 5rem;
    --max-width: 1440px;
    --header-height: 5rem;
    --padding-top: 5rem;
    --padding-bottom: 3rem
}

@media only screen and (prefers-color-scheme: light) {
    :root {
        --color-secondary:#222;
        --color-primary: #fff;
        --color-text: #5f5f5f
    }
}

@media only screen and (min-width: 600px) {
    :root {
        --padding:5rem;
        --min-padding: -5rem;
        --gap: 2rem;
        --row-gap: 12rem;
        --header-height: 5.5rem;
        --padding-top: 12rem;
        --padding-bottom: 9rem
    }
}

@media only screen and (min-width: 960px) {
    :root {
        --padding:7.5rem;
        --min-padding: -7.5rem
    }
}

@media only screen and (max-height: 500px)and (min-aspect-ratio:16/9) {
    :root {
        --padding:2rem;
        --min-padding: -2rem
    }
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: #222;
    background-color: var(--color-primary);
    box-sizing: border-box;
    font-size: 2.4154589372vw
}

@media only screen and (max-width: 768px)and (orientation:landscape) {
    html {
        font-size:1.4285714286vw
    }
}

@media only screen and (min-width: 600px) {
    html {
        font-size:.8333333333vw
    }
}

@media only screen and (min-width: 960px) {
    html {
        font-size:.6944444444vw
    }
}

@media only screen and (min-width: 1440px) {
    html {
        font-size:10px
    }
}

body {
    font-family: "Formula Condensed";
    font-weight: 700;
    overflow-x: hidden;
    position: relative
}

*,:after,:before {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0
}

button {
    background: 0 0;
    border: none;
    border-radius: 0;
    display: inline-block;
    outline: 0;
    width: auto
}

a {
    color: currentColor;
    -webkit-text-decoration: none;
    text-decoration: none
}

code[class*=language-],pre[class*=language-] {
    word-wrap: normal;
    background: 0 0;
    color: #000;
    font-family: Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
    font-size: 1em;
    -webkit-hyphens: none;
    hyphens: none;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    text-align: left;
    text-shadow: 0 1px #fff;
    white-space: pre;
    word-break: normal;
    word-spacing: normal
}

code[class*=language-] ::-moz-selection,code[class*=language-]::-moz-selection,pre[class*=language-] ::-moz-selection,pre[class*=language-]::-moz-selection {
    background: #b3d4fc;
    text-shadow: none
}

code[class*=language-] ::selection,code[class*=language-]::selection,pre[class*=language-] ::selection,pre[class*=language-]::selection {
    background: #b3d4fc;
    text-shadow: none
}

@media print {
    code[class*=language-],pre[class*=language-] {
        text-shadow: none
    }
}

pre[class*=language-] {
    margin: .5em 0;
    overflow: auto;
    padding: 1em
}

:not(pre)>code[class*=language-],pre[class*=language-] {
    background: #f5f2f0
}

:not(pre)>code[class*=language-] {
    border-radius: .3em;
    padding: .1em;
    white-space: normal
}

.token.cdata,.token.comment,.token.doctype,.token.prolog {
    color: #708090
}

.token.punctuation {
    color: #999
}

.token.namespace {
    opacity: .7
}

.token.boolean,.token.constant,.token.deleted,.token.number,.token.property,.token.symbol,.token.tag {
    color: #905
}

.token.attr-name,.token.builtin,.token.char,.token.inserted,.token.selector,.token.string {
    color: #690
}

.language-css .token.string,.style .token.string,.token.entity,.token.operator,.token.url {
    background: hsla(0,0%,100%,.5);
    color: #9a6e3a
}

.token.atrule,.token.attr-value,.token.keyword {
    color: #07a
}

.token.class-name,.token.function {
    color: #dd4a68
}

.token.important,.token.regex,.token.variable {
    color: #e90
}

.token.bold,.token.important {
    font-weight: 700
}

.token.italic {
    font-style: italic
}

.token.entity {
    cursor: help
}

.nuxt-progress {
    background-color: #000;
    height: 2px;
    left: 0;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 0;
    transition: width .1s,opacity .4s;
    width: 0;
    z-index: 999999
}

.nuxt-progress.nuxt-progress-notransition {
    transition: none
}

.nuxt-progress-failed {
    background-color: red
}

#container {
    padding-top: var(--padding);
    transition: opacity .2s ease
}

#container:not([visible]):not([nojs]) {
    opacity: 0;
    transition-duration: 0s
}

#container[visible] {
    opacity: 1!important
}

.hamburger-menu {
    left: 50%;
    position: fixed!important;
    top: 0;
    transform: translateX(-50%)
}

.menu-enter-active,.menu-leave-active {
    transition: opacity .25s ease-out
}

.menu-enter,.menu-leave-active {
    opacity: 0
}

.page-enter-active {
    transition: opacity 1s var(--ease-out-cubic)
}

.page-leave-active {
    transition: opacity .25s var(--ease-out-cubic)
}

.page-enter,.page-leave-active {
    opacity: 0
}

header {
    align-items: center;
    color: var(--color-secondary);
    display: flex;
    height: var(--header-height);
    justify-content: space-between;
    left: calc(var(--padding) + var(--safe-area-inset-left));
    position: sticky;
    top: calc(1rem + var(--safe-area-inset-top));
    transition: color .5s ease-out;
    width: calc(100% - var(--padding)*2 - var(--safe-area-inset-left) - var(--safe-area-inset-right));
    z-index: 2
}

@media only screen and (min-width: 600px) {
    header {
        top:2.5rem
    }
}

header .bar {
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    left: 0;
    opacity: 0;
    transition: opacity .25s ease-out;
    width: 100%
}

header .bar,header .bar:after,header .bar:before {
    border-radius: 50rem;
    height: 100%;
    position: absolute
}

header .bar:after,header .bar:before {
    background-color: var(--color-secondary);
    content: "";
    top: 0;
    width: 75%
}

header .bar:before {
    left: -.75rem;
    transform: rotate(180deg) translateX(var(--padding))
}

header .bar:after {
    right: -.75rem;
    transform: translateX(var(--padding))
}

header[collapsed]:not([menu-open]) {
    color: var(--color-primary)
}

header[collapsed]:not([menu-open]) .bar {
    opacity: 1
}

header[collapsed]:not([menu-open]) .bar:before {
    opacity: 1;
    transform: rotate(180deg)
}

header[collapsed]:not([menu-open]) .bar:after {
    opacity: 1;
    transform: none
}

header[collapsed]:not([menu-open]) a {
    height: .84em;
    outline: 0;
    position: relative
}

header[collapsed]:not([menu-open]) a:before {
    background-color: rgba(0,0,0,.1);
    border: .25rem solid rgba(0,0,0,.2);
    border-radius: var(--radius);
    content: "";
    height: calc(100% + 1rem);
    left: -1rem;
    opacity: 0;
    position: absolute;
    top: -.5rem;
    transition: .1s opacity var(--ease-in-out-cubic),.1s visibility;
    visibility: hidden;
    width: calc(100% + 2rem)
}

header[collapsed]:not([menu-open]) a:focus-visible:before {
    opacity: 1;
    visibility: visible
}

header[collapsed]:not([menu-open]) .name {
    transform: translateX(var(--padding))
}

header[collapsed]:not([menu-open]) .hamburger {
    height: .84em;
    outline: 0;
    position: relative;
    transform: translateX(var(--min-padding))
}

header[collapsed]:not([menu-open]) .hamburger:before {
    background-color: rgba(0,0,0,.1);
    border: .25rem solid rgba(0,0,0,.2);
    border-radius: var(--radius);
    content: "";
    height: calc(100% + 2rem);
    left: -1rem;
    opacity: 0;
    position: absolute;
    top: -1rem;
    transition: .1s opacity var(--ease-in-out-cubic),.1s visibility;
    visibility: hidden;
    width: calc(100% + 2rem)
}

header[collapsed]:not([menu-open]) .hamburger:focus-visible:before {
    opacity: 1;
    visibility: visible
}

@media only screen and (orientation: portrait) {
    header:not([menu-open]) {
        color:var(--color-primary)
    }

    header:not([menu-open]) .bar {
        opacity: 1
    }

    header:not([menu-open]) .bar:before {
        opacity: 1;
        transform: rotate(180deg)
    }

    header:not([menu-open]) .bar:after {
        opacity: 1;
        transform: none
    }

    header:not([menu-open]) a {
        height: .84em;
        outline: 0;
        position: relative
    }

    header:not([menu-open]) a:before {
        background-color: rgba(0,0,0,.1);
        border: .25rem solid rgba(0,0,0,.2);
        border-radius: var(--radius);
        content: "";
        height: calc(100% + 1rem);
        left: -1rem;
        opacity: 0;
        position: absolute;
        top: -.5rem;
        transition: .1s opacity var(--ease-in-out-cubic),.1s visibility;
        visibility: hidden;
        width: calc(100% + 2rem)
    }

    header:not([menu-open]) a:focus-visible:before {
        opacity: 1;
        visibility: visible
    }

    header:not([menu-open]) .name {
        transform: translateX(var(--padding))
    }

    header:not([menu-open]) .hamburger {
        height: .84em;
        outline: 0;
        position: relative;
        transform: translateX(var(--min-padding))
    }

    header:not([menu-open]) .hamburger:before {
        background-color: rgba(0,0,0,.1);
        border: .25rem solid rgba(0,0,0,.2);
        border-radius: var(--radius);
        content: "";
        height: calc(100% + 2rem);
        left: -1rem;
        opacity: 0;
        position: absolute;
        top: -1rem;
        transition: .1s opacity var(--ease-in-out-cubic),.1s visibility;
        visibility: hidden;
        width: calc(100% + 2rem)
    }

    header:not([menu-open]) .hamburger:focus-visible:before {
        opacity: 1;
        visibility: visible
    }
}

header>* {
    position: relative
}

header>*>span {
    display: block;
    overflow: hidden
}

header>*>span>span {
    display: block;
    padding-top: .04em
}

#container:not([nojs]) header>*>span>span {
    transform: translateY(-100%)
}

header>:nth-child(2)>span>span {
    transition-delay: .07s!important
}

header>:nth-child(3)>span>span {
    transition-delay: .14s!important
}

header>:nth-child(4)>span>span {
    transition-delay: .21s!important
}

header>:nth-child(5)>span>span {
    transition-delay: .28s!important
}

header[visible]>*>span>span {
    transform: none!important;
    transition: 1.25s transform var(--ease-in-out-quint)
}

header .bar:after,header .bar:before,header>* {
    transition: transform .25s ease-out
}

header a,header p {
    color: currentColor;
    font-family: "Formula Condensed",Helvetica,Arial,sans-serif;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 800;
    height: .8em;
    letter-spacing: 0;
    line-height: 1;
    position: relative;
    text-transform: uppercase;
    top: .05em
}

header a {
    height: .84em;
    outline: 0;
    position: relative
}

header a:before {
    background-color: hsla(0,0%,100%,.1);
    border: .25rem solid hsla(0,0%,100%,.2);
    border-radius: var(--radius);
    content: "";
    height: calc(100% + 1rem);
    left: -1rem;
    opacity: 0;
    position: absolute;
    top: -.5rem;
    transition: .1s opacity var(--ease-in-out-cubic),.1s visibility;
    visibility: hidden;
    width: calc(100% + 2rem)
}

header a:focus-visible:before {
    opacity: 1;
    visibility: visible
}

header a:after {
    background-color: currentColor;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: .95em;
    transform: scaleY(0);
    transform-origin: top;
    transition: .2s transform var(--ease-out-cubic);
    width: 100%
}

@media(hover: none)and (pointer:coarse) {
    header a:active:after {
        transform:scaleY(1)
    }
}

@media(hover: hover)and (pointer:fine) {
    header a:hover:after {
        transform:scaleY(1)
    }
}

@media only screen and (max-width: 599px) {
    header .email,header .location {
        display:none
    }
}

header .hamburger {
    box-sizing: content-box;
    color: inherit;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 2rem!important;
    height: .84em;
    justify-content: space-between;
    margin: 0 -.25rem;
    outline: 0;
    padding: .25rem;
    position: relative;
    width: 3.5rem
}

header .hamburger:before {
    background-color: hsla(0,0%,100%,.1);
    border: .25rem solid hsla(0,0%,100%,.2);
    border-radius: var(--radius);
    content: "";
    height: calc(100% + 2rem);
    left: -1rem;
    opacity: 0;
    position: absolute;
    top: -1rem;
    transition: .1s opacity var(--ease-in-out-cubic),.1s visibility;
    visibility: hidden;
    width: calc(100% + 2rem)
}

header .hamburger:focus-visible:before {
    opacity: 1;
    visibility: visible
}

header .hamburger svg {
    fill: currentColor;
    height: 100%;
    overflow: visible;
    width: 100%
}

header .hamburger g {
    transition: .1s opacity var(--ease-in-out-sine)
}

header .hamburger #cross {
    opacity: 0
}

header[menu-open] {
    color: var(--color-primary)
}

header[menu-open] a {
    height: .84em;
    outline: 0;
    position: relative
}

header[menu-open] a:before {
    background-color: rgba(0,0,0,.1);
    border: .25rem solid rgba(0,0,0,.2);
    border-radius: var(--radius);
    content: "";
    height: calc(100% + 1rem);
    left: -1rem;
    opacity: 0;
    position: absolute;
    top: -.5rem;
    transition: .1s opacity var(--ease-in-out-cubic),.1s visibility;
    visibility: hidden;
    width: calc(100% + 2rem)
}

header[menu-open] a:focus-visible:before {
    opacity: 1;
    visibility: visible
}

header[menu-open] .hamburger {
    height: .84em;
    outline: 0;
    position: relative
}

header[menu-open] .hamburger:before {
    background-color: rgba(0,0,0,.1);
    border: .25rem solid rgba(0,0,0,.2);
    border-radius: var(--radius);
    content: "";
    height: calc(100% + 2rem);
    left: -1rem;
    opacity: 0;
    position: absolute;
    top: -1rem;
    transition: .1s opacity var(--ease-in-out-cubic),.1s visibility;
    visibility: hidden;
    width: calc(100% + 2rem)
}

header[menu-open] .hamburger:focus-visible:before {
    opacity: 1;
    visibility: visible
}

header[menu-open] .hamburger #cross {
    opacity: 1
}

header[menu-open] .hamburger #hamburger {
    opacity: 0
}

.index[data-v-3ff7eb1f] {
    height: 100%;
    padding-top: var(--safe-area-inset-top);
    width: 100%
}

.index[visible] main[data-v-3ff7eb1f] {
    opacity: 1!important;
    transform: none!important;
    transition: 1s opacity var(--ease-in-out-sine),1s transform var(--ease-out-cubic);
    transition-delay: .75s
}

main[data-v-3ff7eb1f] {
    grid-gap: var(--row-gap) var(--gap);
    display: grid;
    gap: var(--row-gap) var(--gap);
    grid-template-columns: repeat(2,1fr);
    margin: 0 auto;
    max-width: var(--max-width);
    padding: var(--padding-top) calc(var(--padding) + var(--safe-area-inset-right)) var(--padding-bottom) calc(var(--padding) + var(--safe-area-inset-left))
}

#container:not([nojs]) main[data-v-3ff7eb1f] {
    opacity: 0;
    transform: translateY(4rem)
}

@media only screen and (min-width: 600px) {
    main[data-v-3ff7eb1f] {
        grid-template-columns:repeat(3,1fr)
    }
}

footer[data-v-3ff7eb1f] {
    padding: var(--padding) calc(var(--padding) + var(--safe-area-inset-right)) var(--padding) calc(var(--padding) + var(--safe-area-inset-left))
}

.intro[data-v-0a11aa9b] {
    grid-column: span 2;
    margin: 0 auto;
    max-width: var(--max-width);
    overflow: hidden;
    padding: 4rem calc(var(--padding) + var(--safe-area-inset-right)) 0 calc(var(--padding) + var(--safe-area-inset-left));
    width: 100%
}

@media only screen and (min-width: 600px) {
    .intro[data-v-0a11aa9b] {
        grid-column:span 3
    }
}

.intro h1[data-v-0a11aa9b] {
    color: var(--color-secondary);
    font-family: "Formula Condensed",Helvetica,Arial,sans-serif;
    font-size: 6rem;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 1;
    text-transform: uppercase
}

@media only screen and (min-width: 600px) {
    .intro h1[data-v-0a11aa9b] {
        font-size:16rem
    }
}

.intro h1 .row[data-v-0a11aa9b] {
    align-items: flex-end;
    display: flex;
    flex-wrap: nowrap;
    gap: .22em;
    justify-content: space-between;
    overflow: hidden
}

.intro h1 .row[row="1"]>span[data-v-0a11aa9b]:first-child {
    flex: 4
}

.intro h1 .row[row="1"]>span[data-v-0a11aa9b]:nth-child(2) {
    flex: 1
}

.intro h1 .row[row="1"]>span[data-v-0a11aa9b]:nth-child(3) {
    flex: 3
}

.intro h1 .row[row="2"][data-v-0a11aa9b] img {
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.intro h1 .row[row="2"]>span[data-v-0a11aa9b]:first-child {
    flex: 3;
    text-align: center
}

.intro h1 .row[row="2"]>span[data-v-0a11aa9b]:nth-child(2) {
    flex: 5;
    text-align: center
}

.intro h1 .row[row="3"]>span[data-v-0a11aa9b]:first-child {
    flex: 3;
    padding-left: 5%;
    text-align: center
}

.intro h1 .row[row="3"]>span[data-v-0a11aa9b]:nth-child(2) {
    flex: 1;
    text-align: center
}

.intro h1 .row[row="3"]>span[data-v-0a11aa9b]:nth-child(3),.intro h1 .row[row="4"]>span[data-v-0a11aa9b]:first-child,.intro h1 .row[row="4"]>span[data-v-0a11aa9b]:nth-child(2) {
    flex: 2;
    text-align: center
}

.intro h1 .row[row="4"]>span[data-v-0a11aa9b]:nth-child(3) {
    flex: 3;
    text-align: left
}

.line[data-v-1d30a7c8] {
    --line: 0;
    --delay: 0;
    height: .9em;
    line-height: inherit;
    padding-top: .02em;
    white-space: nowrap
}

div[active] .line .char[data-v-1d30a7c8],div[active] .line .char[data-v-1d30a7c8]:before,section[active] .line .char[data-v-1d30a7c8],section[active] .line .char[data-v-1d30a7c8]:before {
    transition-duration: 1s;
    transition-property: transform;
    transition-timing-function: var(--ease-in-out-expo)
}

div[active] .line .char[data-v-1d30a7c8],div[active] .line .char[data-v-1d30a7c8]:before,section[active] .line .char[data-v-1d30a7c8],section[active] .line .char[data-v-1d30a7c8]:before {
    transition-delay: calc(var(--line)*.17s + var(--char)*.07s)
}

div[active] .line .char[data-char][data-v-1d30a7c8]:not([data-char="."]),section[active] .line .char[data-char][data-v-1d30a7c8]:not([data-char="."]) {
    transition-delay: calc(var(--delay) + var(--line)*.17s + var(--char)*.07s + .5s)
}

.char[data-v-1d30a7c8] {
    --char: 0;
    display: inline-block
}

#container:not([nojs]) .char[data-v-1d30a7c8] {
    position: relative;
    transform: translateY(-92%)
}

#container:not([nojs]) .char[data-char][data-v-1d30a7c8]:before {
    content: attr(data-char);
    display: block;
    left: 0;
    position: absolute;
    top: 0
}

#container:not([nojs]) .char[data-char="."][data-v-1d30a7c8]:before {
    opacity: 0
}

div[active] .char[data-char][data-v-1d30a7c8]:before,section[active] .char[data-char][data-v-1d30a7c8]:before {
    transform: translateY(92%)!important
}

div[active] .char[data-char][data-v-1d30a7c8],section[active] .char[data-char][data-v-1d30a7c8] {
    transform: none!important
}

.char[data-v-1d30a7c8]:empty {
    height: 90%;
    width: .15em
}

.line[data-v-2e784c11] {
    height: .9em;
    line-height: inherit;
    padding-top: .02em;
    white-space: nowrap
}

div[visible] .line:first-child .img>span[data-v-2e784c11],div[visible] .line:first-child .img[data-v-2e784c11],div[visible] .line:first-child img[data-v-2e784c11] {
    transition-delay: .15s
}

div[visible] .line:first-child small[data-v-2e784c11] {
    transition-delay: 1.15s
}

div[visible] .line:nth-child(2) .img>span[data-v-2e784c11],div[visible] .line:nth-child(2) .img[data-v-2e784c11],div[visible] .line:nth-child(2) img[data-v-2e784c11] {
    transition-delay: .3s
}

div[visible] .line:nth-child(2) small[data-v-2e784c11] {
    transition-delay: 1.3s
}

div[visible] .line:nth-child(3) .img>span[data-v-2e784c11],div[visible] .line:nth-child(3) .img[data-v-2e784c11],div[visible] .line:nth-child(3) img[data-v-2e784c11] {
    transition-delay: .45s
}

div[visible] .line:nth-child(3) small[data-v-2e784c11] {
    transition-delay: 1.45s
}

div[visible] .line:nth-child(4) .img>span[data-v-2e784c11],div[visible] .line:nth-child(4) .img[data-v-2e784c11],div[visible] .line:nth-child(4) img[data-v-2e784c11] {
    transition-delay: .6s
}

div[visible] .line:nth-child(4) small[data-v-2e784c11] {
    transition-delay: 1.6s
}

.img>span[data-v-2e784c11],.img[data-v-2e784c11],img[data-v-2e784c11] {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    will-change: transform
}

div[visible] .img>span[data-v-2e784c11],div[visible] .img[data-v-2e784c11],div[visible] img[data-v-2e784c11] {
    transform: none!important;
    transition-duration: 2s;
    transition-property: transform;
    transition-timing-function: var(--ease-in-out-quint)
}

.img[data-v-2e784c11] {
    border-radius: 1vw
}

#container:not([nojs]) .img[data-v-2e784c11] {
    transform: translateX(50%)
}

@media only screen and (min-width: 1440px) {
    .img[data-v-2e784c11] {
        border-radius:var(--radius)
    }
}

.img>span[data-v-2e784c11] {
    border-radius: inherit
}

#container:not([nojs]) .img>span[data-v-2e784c11] {
    transform: translateX(-100%)
}

img[data-v-2e784c11] {
    border-radius: inherit;
    height: .8em
}

#container:not([nojs]) img[data-v-2e784c11] {
    transform: translateX(50%)
}

small[data-v-2e784c11] {
    bottom: 10%;
    display: inline-block;
    font-family: Inter,Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    left: .5em;
    letter-spacing: 0;
    line-height: 1;
    position: relative
}

#container:not([nojs]) small[data-v-2e784c11] {
    opacity: 0;
    transform: translateX(-3rem)
}

div[visible] small[data-v-2e784c11] {
    opacity: 1!important;
    transform: none!important;
    transition: 1s opacity var(--ease-out-sine),1s transform var(--ease-out-expo)
}

@media only screen and (max-width: 599px) {
    small[data-v-2e784c11] {
        display:none
    }
}

.card[data-v-c7aea50a] {
    grid-gap: var(--gap);
    border-radius: var(--radius);
    display: grid;
    gap: var(--gap);
    grid-template-areas: "image image" "title year";
    grid-template-rows: auto 1fr;
    outline: 0;
    position: relative
}

.card[data-v-c7aea50a]:before {
    background-color: hsla(0,0%,100%,.2);
    border-radius: var(--outline-radius);
    content: "";
    height: calc(100% + 2rem);
    left: -1rem;
    opacity: 0;
    position: absolute;
    top: -1rem;
    transition: opacity .1s ease-in-out,visibility .1s;
    visibility: hidden;
    width: calc(100% + 2rem);
    z-index: -1
}

.card[data-v-c7aea50a]:focus-visible:before {
    opacity: 1;
    visibility: visible
}

.card:not([nohover])[haslink][data-v-c7aea50a] {
    cursor: pointer
}

@media(hover: none)and (pointer:coarse) {
    .card:not([nohover])[haslink]:active img[data-v-c7aea50a] {
        transform:scale(.955)
    }

    .card:not([nohover])[haslink]:active .image[data-v-c7aea50a]:after {
        opacity: 1
    }
}

@media(hover: hover)and (pointer:fine) {
    .card:not([nohover])[haslink]:hover img[data-v-c7aea50a] {
        transform:scale(.955)
    }

    .card:not([nohover])[haslink]:hover .image[data-v-c7aea50a]:after {
        opacity: 1
    }
}

.card .image[data-v-c7aea50a] {
    border-radius: var(--radius);
    grid-area: image;
    height: 0;
    overflow: hidden;
    padding-top: 112%;
    position: relative;
    width: 100%;
    will-change: transform
}

.card .image[data-v-c7aea50a]:after {
    box-shadow: inset 0 0 3rem 0 rgba(0,0,0,.5);
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: .5s opacity var(--ease-out-cubic);
    width: 100%
}

.card img[data-v-c7aea50a] {
    border-radius: var(--radius);
    height: 105%;
    left: -2.5%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: -2.5%;
    transition: .5s transform var(--ease-out-cubic);
    width: 105%
}

.card .meta[data-v-c7aea50a] {
    align-items: flex-start;
    display: flex;
    gap: var(--gap);
    grid-column: span 2;
    justify-content: space-between;
    position: relative
}

.card p[data-v-c7aea50a] {
    color: var(--color-secondary);
    font-family: "Formula Condensed",Helvetica,Arial,sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 1;
    text-transform: uppercase
}

@media only screen and (min-width: 600px) {
    .card p[data-v-c7aea50a] {
        font-size:2.8rem
    }
}

.card .title[data-v-c7aea50a] {
    grid-area: title;
    white-space: pre-line
}

.card .year[data-v-c7aea50a] {
    color: var(--color-grey);
    grid-area: year
}

@media only screen and (max-width: 599px) {
    .card[scale="2"][data-v-c7aea50a] {
        grid-column:span 2
    }
}

.card[type=large][data-v-c7aea50a] {
    grid-column: span 2
}

.card[type=large] .image[data-v-c7aea50a] {
    padding-top: 63%
}

@media only screen and (min-width: 600px) {
    .card[type=large] .image[data-v-c7aea50a] {
        padding-top:calc(56% - var(--gap)/ 2)
    }
}

.card[type=featured][data-v-c7aea50a] {
    --border: 1.5rem;
    background-color: currentColor;
    border-radius: var(--radius);
    box-shadow: 0 .4rem 2rem 0 rgba(0,0,0,.35);
    grid-column: span 2;
    grid-template-areas: "image image" "meta meta";
    grid-template-columns: repeat(2,1fr);
    padding: 1.5rem;
    padding: var(--border)
}

@media only screen and (min-width: 600px) {
    .card[type=featured][data-v-c7aea50a] {
        --border:2rem
    }

    .card[type=featured][align][data-v-c7aea50a] {
        grid-template-areas: "image image label" "image image meta"
    }
}

.card[type=featured][align] .label[data-v-c7aea50a] {
    padding: calc(var(--border)*3) calc(var(--border)*3) 0 var(--border)
}

@media only screen and (min-width: 600px) {
    .card[type=featured][align] .meta[data-v-c7aea50a] {
        padding:0 calc(var(--border)*3) calc(var(--border)*2) var(--border)
    }

    .card[type=featured][data-v-c7aea50a] {
        gap: 0;
        grid-column: span 3;
        grid-template-areas: "label image image" "meta image image";
        grid-template-columns: repeat(3,1fr);
        padding: var(--border)
    }
}

.card[type=featured] .image[data-v-c7aea50a] {
    grid-area: image;
    padding-top: calc(110% - var(--border))
}

@media only screen and (min-width: 600px) {
    .card[type=featured] .image[data-v-c7aea50a] {
        padding-top:88%
    }
}

.card[type=featured] img[data-v-c7aea50a] {
    box-shadow: 0 4px 9px 0 rgba(0,0,0,.16)
}

.card[type=featured] .label[data-v-c7aea50a] {
    padding: calc(var(--border)*2) var(--border) 0 calc(var(--border)*2);
    position: relative
}

.card[type=featured] .meta[data-v-c7aea50a] {
    grid-area: meta
}

@media only screen and (min-width: 600px) {
    .card[type=featured] .meta[data-v-c7aea50a] {
        align-items:flex-start;
        flex-direction: column;
        gap: 3.5rem;
        justify-content: flex-end;
        padding: 0 calc(var(--border)*2) calc(var(--border)*2) calc(var(--border)*2)
    }
}

.card[type=featured] p[data-v-c7aea50a] {
    color: var(--color-white)
}

.card[type=featured][bright] p[data-v-c7aea50a] {
    color: var(--color-black)
}

.card[type=featured] .label[data-v-c7aea50a] {
    display: none;
    grid-area: label
}

@media only screen and (min-width: 600px) {
    .card[type=featured] .label[data-v-c7aea50a] {
        display:inline-block;
        font-size: 2.8rem
    }

    .card[type=featured] .title[data-v-c7aea50a] {
        font-size: 4.3rem
    }

    .card[type=featured] .year[data-v-c7aea50a] {
        font-size: 2.8rem;
        justify-self: flex-start
    }
}

.quote[data-v-98f3541e] {
    align-items: center;
    color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    overflow: hidden;
    padding: var(--gap) 0;
    text-align: center
}

@media only screen and (min-width: 600px) {
    .quote[data-v-98f3541e] {
        grid-column:span 3
    }
}

.title[data-v-98f3541e] {
    font-family: Inter,Helvetica,Arial,sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1;
    margin-bottom: 2.5rem;
    text-transform: uppercase
}

[data-v-98f3541e] .content {
    font-family: "Formula Condensed",Helvetica,Arial,sans-serif;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 1;
    max-width: 12em;
    text-transform: uppercase
}

@media only screen and (min-width: 600px) {
    [data-v-98f3541e] .content {
        font-size:7rem
    }
}

[data-v-98f3541e] a {
    display: inline-block;
    height: .84em;
    outline: 0;
    position: relative
}

[data-v-98f3541e] a:before {
    background-color: hsla(0,0%,100%,.1);
    border: .25rem solid hsla(0,0%,100%,.2);
    border-radius: var(--radius);
    content: "";
    height: calc(80% + 1rem);
    left: -1rem;
    opacity: 0;
    position: absolute;
    top: -.5rem;
    transition: .1s opacity var(--ease-in-out-cubic),.1s visibility;
    visibility: hidden;
    width: calc(100% + 2rem)
}

[data-v-98f3541e] a:focus-visible:before {
    opacity: 1;
    visibility: visible
}

[data-v-98f3541e] a:after {
    background-color: currentColor;
    content: "";
    height: 6px;
    left: 0;
    position: absolute;
    top: .85em;
    transform: scaleY(.333);
    transform-origin: top;
    transition: .2s transform var(--ease-out-cubic);
    width: 100%
}

@media(hover: none)and (pointer:coarse) {
    [data-v-98f3541e] a:active:after {
        transform:scaleY(1)
    }
}

@media(hover: hover)and (pointer:fine) {
    [data-v-98f3541e] a:hover:after {
        transform:scaleY(1)
    }
}

[data-v-183c15e5] * {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    text-decoration: inherit;
    white-space: inherit
}

.paragraph[data-v-26373738] {
    align-items: center;
    color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    padding: var(--gap) 0;
    text-align: center
}

@media only screen and (min-width: 600px) {
    .paragraph[data-v-26373738] {
        grid-column:span 3
    }
}

[data-v-26373738] .content {
    font-family: "Formula Condensed",Helvetica,Arial,sans-serif;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 1;
    padding: 0 2rem;
    text-align: left;
    text-indent: 50%;
    text-transform: uppercase
}

@media only screen and (min-width: 600px) {
    [data-v-26373738] .content {
        font-size:8.9rem;
        padding: 0 5.5rem
    }
}

[data-v-26373738] p {
    white-space: pre-line
}

[data-v-26373738] p:not(:last-child) {
    margin-bottom: 1em
}

[data-v-26373738] a {
    display: inline-block;
    height: .84em;
    outline: 0;
    position: relative;
    text-indent: 0
}

[data-v-26373738] a:before {
    background-color: hsla(0,0%,100%,.1);
    border: .25rem solid hsla(0,0%,100%,.2);
    border-radius: var(--radius);
    content: "";
    height: calc(80% + 1rem);
    left: -1rem;
    opacity: 0;
    position: absolute;
    top: -.5rem;
    transition: .1s opacity var(--ease-in-out-cubic),.1s visibility;
    visibility: hidden;
    width: calc(100% + 2rem)
}

[data-v-26373738] a:focus-visible:before {
    opacity: 1;
    visibility: visible
}

[data-v-26373738] a:after {
    background-color: currentColor;
    content: "";
    height: 6px;
    left: 0;
    position: absolute;
    top: .85em;
    transform: scaleY(.333);
    transform-origin: top;
    transition: .2s transform var(--ease-out-cubic);
    width: 100%
}

@media(hover: none)and (pointer:coarse) {
    [data-v-26373738] a:active:after {
        transform:scaleY(1)
    }
}

@media(hover: hover)and (pointer:fine) {
    [data-v-26373738] a:hover:after {
        transform:scaleY(1)
    }
}

.wip[data-v-517fb9f7] {
    border-radius: var(--radius);
    color: var(--color-white);
    grid-column: span 2;
    transition: .5s background-color var(--ease-in-out-sine),.2s color var(--ease-out-cubic)
}

@media only screen and (min-width: 600px) {
    .wip[data-v-517fb9f7] {
        grid-gap:var(--gap);
        display: grid;
        gap: var(--gap);
        grid-column: span 3;
        grid-template-columns: 1fr 2fr
    }
}

.wip[bright][data-v-517fb9f7] {
    color: var(--color-black)
}

p[data-v-517fb9f7] {
    color: currentColor
}

.label[data-v-517fb9f7] {
    font-family: "Formula Condensed",Helvetica,Arial,sans-serif;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 1;
    padding: var(--padding) 0 var(--padding) var(--padding);
    text-transform: uppercase
}

@media only screen and (min-width: 600px) {
    .label[data-v-517fb9f7] {
        font-size:2.8rem
    }
}

.label[data-v-517fb9f7]:before {
    animation: 1.5s blink-517fb9f7 var(--ease-out-cubic) infinite;
    background-color: red;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 1rem;
    margin-right: .25em;
    vertical-align: middle;
    width: 1rem
}

@keyframes blink-517fb9f7 {
    50% {
        opacity: .2
    }
}

.projects[data-v-517fb9f7] {
    padding: var(--padding)
}

@media only screen and (min-width: 600px) {
    .projects[data-v-517fb9f7] {
        padding:var(--padding) var(--padding) var(--padding) 0
    }
}

.projects__inner[data-v-517fb9f7] {
    pointer-events: none;
    position: relative
}

@media(hover: none)and (pointer:coarse) {
    .projects__inner:active .project[data-v-517fb9f7] {
        opacity:.1
    }
}

@media(hover: hover)and (pointer:fine) {
    .projects__inner:hover .project[data-v-517fb9f7] {
        opacity:.1
    }
}

.projects__inner:focus-within .project[data-v-517fb9f7] {
    opacity: .1
}

.project[data-v-517fb9f7] {
    grid-gap: 1rem;
    -webkit-touch-callout: none;
    border-bottom: 1px solid;
    border-top: 1px solid;
    display: grid;
    gap: 1rem;
    grid-template-areas: "title title index" "subtitle subtitle subtitle";
    grid-template-columns: 1fr 1fr auto;
    outline: 0;
    padding: 2rem 0;
    pointer-events: auto;
    position: relative;
    transition: .5s opacity var(--ease-out-cubic)
}

.project[data-v-517fb9f7]:not(:first-child) {
    margin-top: -1px
}

@media only screen and (min-width: 600px) {
    .project[data-v-517fb9f7] {
        grid-template-areas:"title year index" "subtitle subtitle subtitle";
        padding: 3rem 0
    }
}

@media(hover: none)and (pointer:coarse) {
    .project[data-v-517fb9f7]:active {
        opacity:1!important
    }

    .project:active+.thumbnail[data-v-517fb9f7] {
        visibility: visible
    }

    .project:active+.thumbnail .thumbnail__inner[data-v-517fb9f7] {
        opacity: 1;
        transform: scale(1) rotate(var(--rotation))
    }

    .project:active+.thumbnail[data-v-517fb9f7]:before {
        opacity: 1;
        transform: scale(1) translate(-10%,10%) rotate(calc(var(--rotation)*.9))
    }

    .project:active+.thumbnail img[data-v-517fb9f7] {
        transform: scale(1)
    }
}

@media(hover: hover)and (pointer:fine) {
    .project[data-v-517fb9f7]:hover {
        opacity:1!important
    }

    .project:hover+.thumbnail[data-v-517fb9f7] {
        visibility: visible
    }

    .project:hover+.thumbnail .thumbnail__inner[data-v-517fb9f7] {
        opacity: 1;
        transform: scale(1) rotate(var(--rotation))
    }

    .project:hover+.thumbnail[data-v-517fb9f7]:before {
        opacity: 1;
        transform: scale(1) translate(-10%,10%) rotate(calc(var(--rotation)*.9))
    }

    .project:hover+.thumbnail img[data-v-517fb9f7] {
        transform: scale(1)
    }
}

.project[data-v-517fb9f7]:focus-visible {
    opacity: 1!important
}

.project:focus-visible+.thumbnail[data-v-517fb9f7] {
    visibility: visible
}

.project:focus-visible+.thumbnail .thumbnail__inner[data-v-517fb9f7] {
    opacity: 1;
    transform: scale(1) rotate(var(--rotation))
}

.project:focus-visible+.thumbnail[data-v-517fb9f7]:before {
    opacity: 1;
    transform: scale(1) translate(-10%,10%) rotate(calc(var(--rotation)*.9))
}

.project:focus-visible+.thumbnail img[data-v-517fb9f7] {
    transform: scale(1)
}

.index[data-v-517fb9f7],.title[data-v-517fb9f7],.year[data-v-517fb9f7] {
    font-family: "Formula Condensed",Helvetica,Arial,sans-serif;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 1;
    text-transform: uppercase
}

@media only screen and (min-width: 600px) {
    .index[data-v-517fb9f7],.title[data-v-517fb9f7],.year[data-v-517fb9f7] {
        font-size:2.8rem
    }
}

.title[data-v-517fb9f7] {
    grid-area: title;
    white-space: pre-line
}

.year[data-v-517fb9f7] {
    grid-area: year
}

@media only screen and (max-width: 599px) {
    .year[data-v-517fb9f7] {
        display:none
    }
}

.index[data-v-517fb9f7] {
    grid-area: index
}

.subtitle[data-v-517fb9f7] {
    font-family: Inter,Helvetica,Arial,sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 200;
    grid-area: subtitle;
    letter-spacing: 0;
    line-height: 1
}

@media only screen and (min-width: 600px) {
    .subtitle[data-v-517fb9f7] {
        font-size:1.8rem
    }
}

.thumbnail[data-v-517fb9f7] {
    border-radius: var(--radius);
    height: 28rem;
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: calc(8% + var(--offset)*100%/var(--projects));
    transform: translate(-50%,-50%);
    transition: visibility .2s;
    visibility: hidden;
    width: 22rem;
    z-index: 1
}

.thumbnail[data-v-517fb9f7]:before {
    background-color: rgba(0,0,0,.3);
    box-shadow: 0 0 3rem 3rem rgba(0,0,0,.3);
    content: "";
    height: 75%;
    left: 12.5%;
    position: absolute;
    top: 12.5%;
    transform: scale(.7);
    width: 75%
}

.thumbnail[data-v-517fb9f7]:before,.thumbnail__inner[data-v-517fb9f7] {
    border-radius: inherit;
    opacity: 0;
    transition: .2s opacity var(--ease-out-cubic),1s transform var(--ease-out-back)
}

.thumbnail__inner[data-v-517fb9f7] {
    height: 100%;
    overflow: hidden;
    transform: rotate(calc(var(--rotation)*-1)) scale(.9);
    width: 100%
}

.thumbnail img[data-v-517fb9f7] {
    border-radius: inherit;
    height: 105%;
    left: -2.5%;
    -o-object-fit: cover;
    object-fit: cover;
    position: relative;
    top: -2.5%;
    transform: scale(.95);
    transition: 1s transform var(--ease-out-cubic);
    width: 105%
}

.title[data-v-0afff8e6] {
    grid-column: span 2;
    padding: var(--gap) 0;
    width: 100%
}

@media only screen and (min-width: 600px) {
    .title[data-v-0afff8e6] {
        grid-column:span 3
    }
}

.content[data-v-0afff8e6] {
    color: var(--color-secondary);
    font-family: "Formula Condensed",Helvetica,Arial,sans-serif;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0;
    line-height: .95;
    text-transform: uppercase;
    white-space: pre-line
}

@media only screen and (min-width: 600px) {
    .content[data-v-0afff8e6] {
        font-size:8.9rem;
        padding: 0 5.5rem
    }
}

.recognition[data-v-597312fc] {
    grid-gap: var(--row-gap);
    color: var(--color-secondary);
    display: grid;
    gap: var(--row-gap);
    grid-column: span 2;
    position: relative
}

@media only screen and (min-width: 600px) {
    .recognition[data-v-597312fc] {
        grid-column:span 3
    }
}

.recognition>div[data-v-597312fc] {
    grid-gap: var(--gap);
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(3,1fr)
}

.recognition>div[data-v-597312fc]>:nth-child(3) {
    justify-self: flex-end
}

.background[data-v-597312fc] {
    color: #343434;
    font-family: "Formula Condensed",Helvetica,Arial,sans-serif;
    font-size: 7.2rem;
    font-style: normal;
    font-weight: 800;
    left: 50%;
    letter-spacing: 0;
    line-height: 1;
    position: absolute;
    text-orientation: mixed;
    text-transform: uppercase;
    top: 0;
    transform: translate(-50%) rotate(180deg);
    transform-origin: center center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    writing-mode: vertical-rl;
    z-index: -1
}

@media only screen and (prefers-color-scheme: light) {
    .background[data-v-597312fc] {
        color:#ededed
    }
}

.background>span[data-v-597312fc] {
    display: block;
    white-space: nowrap
}

.background>span>span[data-v-597312fc] {
    display: inline-block
}

.background>span[data-v-597312fc]:first-of-type {
    margin-bottom: 1em;
    text-align: left
}

.background>span[data-v-597312fc]:nth-of-type(2) {
    text-align: center
}

.background>span[data-v-597312fc]:nth-of-type(3) {
    text-align: right
}

.background>span[data-v-597312fc]:nth-of-type(4) {
    text-align: center
}

@media only screen and (min-width: 600px) {
    .background[data-v-597312fc] {
        font-size:18rem
    }
}

.background~[data-v-597312fc] {
    position: relative
}

ul[data-v-597312fc] {
    grid-gap: 1rem;
    display: grid;
    gap: 1rem;
    grid-auto-flow: row;
    list-style: none
}

a[data-v-597312fc]:not(.card) {
    height: .84em;
    outline: 0;
    position: relative
}

a[data-v-597312fc]:not(.card):before {
    background-color: hsla(0,0%,100%,.1);
    border: .25rem solid hsla(0,0%,100%,.2);
    border-radius: var(--radius);
    content: "";
    height: calc(80% + 1rem);
    left: -1rem;
    opacity: 0;
    position: absolute;
    top: -.5rem;
    transition: .1s opacity var(--ease-in-out-cubic),.1s visibility;
    visibility: hidden;
    width: calc(100% + 2rem)
}

a[data-v-597312fc]:not(.card):focus-visible:before {
    opacity: 1;
    visibility: visible
}

li[data-v-597312fc],p[data-v-597312fc],ul[data-v-597312fc] {
    font-family: "Formula Condensed",Helvetica,Arial,sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 1;
    text-transform: uppercase
}

@media only screen and (min-width: 600px) {
    li[data-v-597312fc],p[data-v-597312fc],ul[data-v-597312fc] {
        font-size:2.8rem
    }
}

@media only screen and (max-width: 599px) {
    .index[data-v-597312fc] {
        display:none
    }

    .content[data-v-597312fc] {
        grid-column: span 2
    }
}

.awards .content li[data-v-597312fc] {
    display: flex
}

.awards .content li span[data-v-597312fc] {
    flex: 1
}

@media only screen and (min-width: 600px) {
    .clients[data-v-597312fc] {
        grid-template-columns:2fr 3fr 1fr!important
    }

    .clients .content[data-v-597312fc] {
        font-size: 4.8rem
    }

    .social .content[data-v-597312fc] {
        display: flex
    }

    .social .content>[data-v-597312fc] {
        flex: 1
    }
}

.social ul li[data-v-597312fc]:last-child {
    margin-top: 1em;
    max-width: 5em
}

.social ul li a[data-v-597312fc] {
    display: inline-block;
    position: relative
}

.social ul li a[data-v-597312fc]:after {
    background-color: currentColor;
    content: "";
    height: 6px;
    left: 0;
    position: absolute;
    top: .9em;
    transform: scaleY(.333);
    transform-origin: top;
    transition: .2s transform var(--ease-out-cubic);
    width: 100%
}

@media(hover: none)and (pointer:coarse) {
    .social ul li a[data-v-597312fc]:active:after {
        transform:scaleY(1)
    }
}

@media(hover: hover)and (pointer:fine) {
    .social ul li a[data-v-597312fc]:hover:after {
        transform:scaleY(1)
    }
}

@media only screen and (min-width: 600px) {
    .news .content[data-v-597312fc] {
        grid-column:span 2
    }

    .news .content .card[data-v-597312fc] {
        margin: 0 auto;
        width: 50%
    }
}

footer[data-v-bfdc6f28] {
    color: var(--color-secondary);
    display: flex;
    grid-column: span 2;
    justify-content: space-between
}

@media only screen and (min-width: 600px) {
    footer[data-v-bfdc6f28] {
        grid-column:span 3
    }
}

.social[data-v-bfdc6f28] {
    display: flex;
    gap: var(--padding);
    grid-area: social
}

@media only screen and (max-width: 599px) {
    .social[data-v-bfdc6f28] {
        align-self:flex-end;
        flex-direction: column;
        gap: 1em
    }
}

.social a[data-v-bfdc6f28] {
    display: inline-block;
    height: .84em;
    outline: 0;
    position: relative;
    white-space: nowrap
}

.social a[data-v-bfdc6f28]:before {
    background-color: rgba(0,0,0,.1);
    border: .25rem solid rgba(0,0,0,.2);
    border-radius: var(--radius);
    content: "";
    height: calc(80% + 1rem);
    left: -1rem;
    opacity: 0;
    position: absolute;
    top: -.5rem;
    transition: .1s opacity var(--ease-in-out-cubic),.1s visibility;
    visibility: hidden;
    width: calc(100% + 2rem)
}

.social a[data-v-bfdc6f28]:focus-visible:before {
    opacity: 1;
    visibility: visible
}

.social a[data-v-bfdc6f28]:after {
    background-color: currentColor;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 1em;
    transform: scaleY(0);
    transform-origin: top;
    transition: .2s transform var(--ease-out-cubic);
    width: 100%
}

@media(hover: none)and (pointer:coarse) {
    .social a[data-v-bfdc6f28]:active:after {
        transform:scaleY(1)
    }
}

@media(hover: hover)and (pointer:fine) {
    .social a[data-v-bfdc6f28]:hover:after {
        transform:scaleY(1)
    }
}

.copyright[data-v-bfdc6f28] {
    grid-area: copyright;
    justify-self: flex-end
}

@media only screen and (max-width: 599px) {
    .copyright[data-v-bfdc6f28] {
        display:flex;
        justify-content: space-between;
        width: 100%
    }
}

a[data-v-bfdc6f28],p[data-v-bfdc6f28] {
    font-family: "Formula Condensed",Helvetica,Arial,sans-serif;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 1;
    text-transform: uppercase
}

a[data-v-bfdc6f28] {
    height: .84em;
    outline: 0;
    position: relative
}

a[data-v-bfdc6f28]:before {
    background-color: hsla(0,0%,100%,.1);
    border: .25rem solid hsla(0,0%,100%,.2);
    border-radius: var(--radius);
    content: "";
    height: calc(80% + 1rem);
    left: -1rem;
    opacity: 0;
    position: absolute;
    top: -.5rem;
    transition: .1s opacity var(--ease-in-out-cubic),.1s visibility;
    visibility: hidden;
    width: calc(100% + 2rem)
}

a[data-v-bfdc6f28]:focus-visible:before {
    opacity: 1;
    visibility: visible
}

a[data-v-bfdc6f28]:after {
    background-color: currentColor;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: .95em;
    transform: scaleY(0);
    transform-origin: top;
    transition: .2s transform var(--ease-out-cubic);
    width: 100%
}

@media(hover: none)and (pointer:coarse) {
    a[data-v-bfdc6f28]:active:after {
        transform:scaleY(1)
    }
}

@media(hover: hover)and (pointer:fine) {
    a[data-v-bfdc6f28]:hover:after {
        transform:scaleY(1)
    }
}

@media only screen and (max-width: 599px) {
    .portfolio[data-v-bfdc6f28],.social[data-v-bfdc6f28] {
        display:none
    }
}